@(teacherform: Form[Teacher])
@import helper._
@import helper.twitterBootstrap._

@main("Register") {
    <h1>Thêm giáo viên</h1>

    @form(CSRF(routes.Teachers.save())) {
        <input type="hidden" value="@teacherform("id").valueOr("")" name="id"/>
        <fieldset>
            <legend>Register (@teacherform("name").valueOr("New")) @teacherform("id").valueOr("new id")</legend>
            @helper.inputText(teacherform("teacher_code"), '_label -> "Mã giáo viên")

            @helper.inputText(teacherform("name"), '_label -> "Họ và tên")

            @helper.select(teacherform("specialized"), options("Công Nghệ Thông Tin"->"Công Nghệ Thông Tin", "Vật Lý Kỹ Thuật"->"Vật Lý Kỹ Thuật", "Cơ Điện Tử"->"Cơ Điện Tử", "Khoa Học Máy Tính"->"Khoa Học Máy Tính", "Truyền Thông và Mạng Máy Tính"->"Truyền Thông và Mạng Máy Tính"), '_label -> "Khoa")

            @helper.inputText(teacherform("email"), '_label -> "Email")

        </fieldset>

        <input type="submit" class="btn btn-primary" value="Đăng ký">
        <button class="btn btn-default" type="reset">Làm mới</button>
        <a class="btn" href="@routes.AdminManager.list_teacher(0)">Thoát</a>

    }
}