@(currentPage: com.avaje.ebean.Page[Teacher])
@main("Danh sách học viên") {
    @if(Integer.parseInt(session().get("countTeacher")) > 0) {
  <h2>Danh sách giáo viên</h2>
    <script>
        function del ( urlToDelete ) {
            $.ajax ( {
                url : urlToDelete,
                type : 'DELETE',
            success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
            }
        } ) ;
    }
  </script>

  <div id="pagination" class="pagination">
    @if(currentPage.hasPrev) {
      <li>
        <a href="@routes.AdminManager.list_teacher(currentPage.getPageIndex - 1)">&larr;</a>
      </li>
    } else {
      <li class="disabled"><a>&larr;</a></li>
    }
    <li class="active"><a>
    @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
    @if(currentPage.hasNext) {
      <li>
        <a href="@routes.AdminManager.list_teacher(currentPage.getPageIndex + 1)">&rarr;</a>
      </li>
    } else {
      <li class="disabled"><a>&rarr;</a></li>
    }
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Mã giáo viên</th>
        <th>Họ và tên</th>
        <th>Khoa</th>
        <th>Email</th>
          @if(session().get("type").equals("0")) {
              <th>Sửa</th>
              <th>Xóa</th>
          }
      </tr>
    </thead>
    <tbody>
    @for(teacher <- currentPage.getList()) {
      <tr>
          <td><p><font color = "blue"> @teacher.teacher_code </font></p></td>
          <td><p><font color = "blue"> @teacher.name </font></p></td>
          <td><p><font color = "blue"> @teacher.specialized </font></p></td>
          <td><p><font color = "blue"> @teacher.email </font></p></td>
          @if(session().get("type").equals("0")) {
            <td><a href="@routes.Teachers.details(teacher)"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a onclick="javascript:del('@routes.Teachers.delete(teacher)')"><span class="glyphicon glyphicon-trash"></span></a></td>
          }
      </tr>
    }
    </tbody>
  </table>
    } else {
        <p><i>Danh sách Giáo viên hiện đang trống ! Giáo vụ có quyền thêm các học viên, luận văn, giáo viên hướng dẫn ...</i></p>
    }

    @if(session().get("type").equals("0")) {
        <a href="@routes.Teachers.register()" class="btn btn-primary">Thêm giáo viên</a>
    }

    @if(session().get("type").equals("0")) {
        <a href="@routes.Teachers.uploadDocument()" class="btn btn-primary">Upload Tài liệu</a>
    }

}
