@(thesisForm: Form[Thesis])

@import helper._
@import helper.twitterBootstrap._

@main("Thêm luận văn") {
    <h1>Luận Văn Mới</h1>

    @form(CSRF(routes.Thesises.save())) {
        <input type="hidden" value="@thesisForm("id").valueOr("")" name="id"/>
        <fieldset>
            @helper.inputText(thesisForm("thesis_code"), '_label -> "Mã Luận Văn")

            @helper.inputText(thesisForm("thread"), '_label -> "Chủ đề")

            @helper.inputText(thesisForm("teacher"), '_label -> "Giáo viên Hướng Dẫn")

            @helper.textarea(thesisForm("description"), '_label -> "Mô tả chi tiết")
        </fieldset>

        <input type="submit" class="btn btn-primary" value="Thêm">
        <a class="btn" href="@routes.AdminManager.listThesis(0)">Thoát</a>

    }
}