@(currentPage: com.avaje.ebean.Page[Thesis])
@main("Danh sách luận văn") {
    @if(Integer.parseInt(session().get("countThesis")) > 0) {
    <h2>Danh sách luận văn</h2>
    <script>
        function del ( urlToDelete ) {
            $.ajax ( {
                url : urlToDelete,
                type : 'DELETE',
            success : function ( results ) {
            // Refresh the page
                location.reload ( ) ;
                 }
            } ) ;
        }
    </script>

    <div id="pagination" class="pagination">
        @if(currentPage.hasPrev) {
            <li>
                <a href="@routes.AdminManager.listThesis(currentPage.getPageIndex - 1)">&larr;</a>
            </li>
        } else {
            <li class="disabled"><a>&larr;</a></li>
        }
        <li class="active"><a>
        @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
        @if(currentPage.hasNext) {
            <li>
                <a href="@routes.AdminManager.listThesis(currentPage.getPageIndex + 1)">&rarr;</a>
            </li>
        } else {
            <li class="disabled"><a>&rarr;</a></li>
        }
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã đề tài</th>
                <th>Chủ đề</th>
                <th>Mô tả</th>
                <th>Ngày đăng</th>
                <th>Người đăng</th>
                <th>Giáo viên HD</th>
                @if(session().get("type").equals("0")) {
                    <th>Sửa</th>
                } else {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
        @for(thesis <- currentPage.getList()) {
            <td><p><font color = "blue"> @thesis.thesis_code </font></p></td>
            <td><p><font color = "blue"> @thesis.thread </font></p></td>
            <td><p><font color = "blue"> @thesis.description </font></p></td>
            @if(thesis.update_time != null) {
                <td><p><font color = "blue"> @thesis.update_time.format("dd-MM-yyyy") </font></p></td>
            }
            <td><p><font color = "blue"> @thesis.update_email </font></p></td>
            <td><p><font color = "blue"> @thesis.teacher </font></p></td>
            @if(session().get("type").equals("0")) {
                <td><a href="@routes.Thesises.details(thesis)"><span class="glyphicon glyphicon-pencil"></span></a>
            } else {
                @if(session().get("thesis_register").equals(thesis.thesis_code)) {
                    @if(session().get("thesis_status").equals("wait")) {
                        <th><p><i>Đang chờ xét duyệt</i></p></th>
                    }
                    @if(session().get("thesis_status").equals("progress")) {
                        <th><p><font color="red"><i>Đang thực hiện</i></font></p></th>
                    }
                    @if(session().get("thesis_status").equals("done")) {
                        <th><p><font color="blue"><i>Hoàn thành</i></font> </p></th>
                    }

                } else {
                    <th><a href="@routes.Thesises.student_register(thesis.thesis_code)">Đăng ký</a></th>
                }

            }

            </tr>
        }
        </tbody>
    </table>
    } else {
        <p><i>Danh sách Luận Văn hiện đang trống ! Giáo vụ có quyền thêm các học viên, luận văn, giáo viên hướng dẫn ...</i></p>
    }

    @if(session().get("type").equals("0")) {
        <a href="@routes.Thesises.register()" class="btn btn-primary">Thêm Luận Văn</a>
    }
}