@(currentPage:com.avaje.ebean.Page[Message])

@main("Các cuộc hội thoại") {
        <h2>Danh sách hội thoại</h2>
        <script>
        function del ( urlToDelete ) {
        $.ajax ( {
        url : urlToDelete,
        type : 'DELETE',
        success : function ( results ) {
        // Refresh the page
        location.reload ( ) ;
        }
        } ) ;
        }
        </script>

    <div id="pagination" class="pagination">
        @if(currentPage.hasPrev) {
            <li>
                <a href="@routes.AdminManager.conversation(currentPage.getPageIndex - 1)">&larr;</a>
            </li>
        } else {
            <li class="disabled"><a>&larr;</a></li>
        }
        <li class="active"><a>
        @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
        @if(currentPage.hasNext) {
            <li>
                <a href="@routes.AdminManager.conversation(currentPage.getPageIndex + 1)">&rarr;</a>
            </li>
        } else {
            <li class="disabled"><a>&rarr;</a></li>
        }
    </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Tin nhắn gần nhất</th>
                    <th>Ngày</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
            @for(message <- currentPage.getList()) {
                <tr>
                    <td><p><font color = "blue"> @message.address </font></p></td>
                    <td><p><font color = "blue"> @message.body</font></p></td>
                    <td><p><font color = "blue"> </font></p></td>
                    <td><a href="" onclick="javascript:del('')"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            }
            </tbody>
        </table>

    <a href="@routes.Registers.register()" class="btn btn-primary">Gửi tin nhắn</a>
}
