@(currentPage:com.avaje.ebean.Page[Student])

@import helper._

@main("Danh sách học viên") {
    @if(Integer.parseInt(session().get("countStudent")) > 0) {
  <h2>Danh sách học viên</h2>
    <script>
        function del ( urlToDelete ) {
            $.ajax ( {
                url : urlToDelete,
                type : 'DELETE',
            success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
            }
        } ) ;
    }
  </script>

        @form(CSRF(routes.Search.searchStudent(0))) {
            <input type="text" name="keysearch" size="50"
            placeholder="Từ khóa">
            <select name="select">
                <option>Mã học viên</option>
                <option>Theo tên</option>
                <option>Theo khoa</option>
            </select>
            <input type="submit" class="btn btn-primary" value="Tìm kiếm">
        }

        <div id="pagination" class="pagination">
    @if(currentPage.hasPrev) {
      <li>
        <a href="@routes.AdminManager.list_student(currentPage.getPageIndex - 1)">&larr;</a>
      </li>
    } else {
      <li class="disabled"><a>&larr;</a></li>
    }
    <li class="active"><a>
    @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
    @if(currentPage.hasNext) {
      <li>
        <a href="@routes.AdminManager.list_student(currentPage.getPageIndex + 1)">&rarr;</a>
      </li>
    } else {
      <li class="disabled"><a>&rarr;</a></li>
    }
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Mã học viên</th>
        <th>Họ và tên</th>
        <th>Chuyên ngành</th>
        <th>Khoa</th>
        <th>Email</th>
          @if(session().get("type").equals("0")) {
              <th>Sửa</th>
              <th>Xóa</th>
          }
      </tr>
    </thead>
    <tbody>
    @for(student <- currentPage.getList()) {
      <tr>
          <td><p><font color = "blue" herf> @student.stcode </font></p></td>
          @if(session().get("type").equals("0") || session().get("type").equals("2")) {
              <td><a href="@routes.AdminManager.seeProfile(student.email)"> @student.name </a></td>
          } else {
              <td><p><font color = "blue"> @student.name </font></p></td>
          }
          <td><p><font color = "blue"> @student.course </font></p></td>
          <td><p><font color = "blue"> @student.specialized </font></p></td>
          <td><p><font color = "blue"> @student.email </font></p></td>
          @if(session().get("type").equals("0")) {
            <td><a href="@routes.Registers.edit(student.email)"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="" onclick="javascript:del('@routes.Registers.delete(student)')"><span class="glyphicon glyphicon-trash"></span></a></td>
          }
      </tr>
    }
    </tbody>
  </table>
    } else {
        <p><i>Danh sách Học Viên hiện đang trống ! Giáo vụ có quyền thêm các học viên, luận văn, giáo viên hướng dẫn ...</i></p>
    }

    @if(session().get("type").equals("0")) {
        <a href="@routes.Registers.register()" class="btn btn-primary">Thêm Học Viên</a>
    }

}
