@(studentFormRegister: Form[Student])
@import helper._
@import helper.twitterBootstrap._

@main("Register") {
    <h1>Thêm học viên</h1>


    @form(CSRF(routes.Registers.save())) {
        <input type="hidden" value="@studentFormRegister("id").valueOr("")" name="id"/>
        <fieldset>
            <legend>Register (@studentFormRegister("name").valueOr("New")) @studentFormRegister("id").valueOr("new id")</legend>
            @helper.inputText(studentFormRegister("stcode"), '_label -> "Mã học viên")

            @helper.inputText(studentFormRegister("name"), '_label -> "Họ và tên")

            @helper.select(studentFormRegister("specialized"), options("Công nghệ thông tin"->"Công nghệ thông tin", "Vật lý kỹ thuật & Công nghệ nano"->"Vật lý kỹ thuật & Công nghệ nano", "Cơ học kỹ thuật & Tự động hóa"->"Cơ học kỹ thuật & Tự động hóa", "Điện tử Viễn thông"->"Điện tử Viễn thông"), '_label -> "Khoa")

            @helper.inputText(studentFormRegister("course"), '_label -> "Khóa học")

            @helper.inputText(studentFormRegister("email"), '_label -> "Email")

        </fieldset>

        <input type="submit" class="btn btn-primary" value="Đăng ký">
        <button class="btn btn-default" type="reset">Làm mới</button>
        <a class="btn" href="@routes.AdminManager.list_student(0)">Thoát</a>

    }
}