@(currentPage: com.avaje.ebean.Page[Student])
@main("Danh sách học viên") {
        <h2>Danh sách học viên đăng ký luận văn</h2>

    <script>
    function del ( urlToDelete ) {
    $.ajax ( {
    url : urlToDelete,
    type : 'DELETE',
    success : function ( results ) {
    // Refresh the page
    location.reload ( ) ;
    }
    } ) ;
    }
    </script>

        <div id="pagination" class="pagination">
            @if(currentPage.hasPrev) {
                <li>
                    <a href="@routes.AdminManager.listStudentRegister(currentPage.getPageIndex - 1)">&larr;</a>
                </li>
            } else {
                <li class="disabled"><a>&larr;</a></li>
            }
            <li class="active"><a>
            @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
            @if(currentPage.hasNext) {
                <li>
                    <a href="@routes.AdminManager.listStudentRegister(currentPage.getPageIndex + 1)">&rarr;</a>
                </li>
            } else {
                <li class="disabled"><a>&rarr;</a></li>
            }
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã học viên</th>
                    <th>Họ và tên</th>
                    <th>Luận Văn Đăng Ký</th>
                    <th>Trạng thái</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(student_register <- currentPage.getList()) {
                <tr>
                    <td><p>@student_register.stcode</p></td>
                    <td><p>@student_register.name</p></td>
                    <td><p>@Thesis.findByThesisCode(student_register.thesis_register).thread</p></td>
                    @if(student_register.thesis_status.equals("wait")) {
                        <td><p><font color = "green"><i><b> Đang chờ xét duyệt </b></i></font></p></td>
                        <td><a href="@routes.Thesises.student_progress(student_register.email)">Duyệt</a></td>
                        <td><a href="@routes.Thesises.student_delete(student_register.email)">Hủy bỏ</a></td>
                    }
                    @if(student_register.thesis_status.equals("progress")) {
                        <td><p><font color = "red"><i><b> Đang thực hiện </b></i></font></p></td>
                        <td><p>Ngày bắt đầu: @Thesises.convertDate(student_register.time_start)</p></td>
                        <td></td>
                    }
                    @if(student_register.thesis_status.equals("done")) {
                        <td><p><font color = "blue"><i><b> Đã hoàn thành </b></i></font></p></td>
                        <td><a href="">Đạt</a></td>
                        <td><a href="">Không Đạt</a></td>
                    }
                </tr>
            }
            </tbody>
        </table>

}
