@(currentPage: com.avaje.ebean.Page[Document])
@main("Danh sách tài liệu") {
        <h2>Danh sách tài liệu 2015</h2>

        <div id="pagination" class="pagination">
            @if(currentPage.hasPrev) {
                <li>
                    <a href="@routes.AdminManager.listDocument(currentPage.getPageIndex - 1)">&larr;</a>
                </li>
            } else {
                <li class="disabled"><a>&larr;</a></li>
            }
            <li class="active"><a>
            @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
            @if(currentPage.hasNext) {
                <li>
                    <a href="@routes.AdminManager.listDocument(currentPage.getPageIndex + 1)">&rarr;</a>
                </li>
            } else {
                <li class="disabled"><a>&rarr;</a></li>
            }
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên tài liệu</th>
                    <th>URL</th>
                    <th>Thể loại</th>
                    <th>Ngôn ngữ</th>
                    @if(session().get("type").equals("0")) {
                        <th>Xóa</th>
                    } else {
                        <th>Tải về</th>
                    }
                </tr>
            </thead>
            <tbody>
            @for(document <- currentPage.getList()) {
                <tr>
                    <td><p><font color = "blue"> @document.name </font></p></td>
                    <td><p><font color = "blue"> @document.linkURL </font></p></td>
                    <td><p><font color = "blue"> @document.kind </font></p></td>
                    <td><p><font color = "blue"> @document.language </font></p></td>
                    <td><a href="@routes.Teachers.download(document.linkURL)">Tải về</a></td>
                    @if(session().get("type").equals("0")) {
                        <td></td>
                    } else {
                        <td><a href="">Tải về</a></td>
                    }
                </tr>
            }
            </tbody>
        </table>


    @if(session().get("type").equals("0") || session().get("type").equals("2") ) {
        <a href="@routes.Teachers.uploadDocument()" class="btn btn-primary">Thêm Tài Liệu</a>
    }

}