@(documentForm: Form[Document])
@import helper._
@import helper.twitterBootstrap._

@main("Upload tài liệu") {
    @form(CSRF(routes.Teachers.saveDocument()), 'enctype -> "multipart/form-data") {
        <input type="hidden" value="@documentForm("id").valueOr("")" name="id"/>
        <fieldset>

            @inputText(documentForm("name"), '_label -> "Tên tài liệu")

            @select(documentForm("kind"), options("Công Nghệ Thông Tin"->"Công Nghệ Thông Tin", "Vật Lý Kỹ Thuật"->"Vật Lý Kỹ Thuật", "Cơ Điện Tử"->"Cơ Điện Tử", "Khoa Học Máy Tính"->"Khoa Học Máy Tính", "Truyền Thông và Mạng Máy Tính"->"Truyền Thông và Mạng Máy Tính"), '_label -> "Khoa")

            @select(documentForm("language"), options("Tiếng Anh"->"Tiếng Anh", "Tiếng Việt"->"Tiếng Việt", "Khác"->"Khác"), '_label -> "Ngôn ngữ")

            <br><input type="file" name="pdf">

        </fieldset>
        <br>
        <p><input type="submit" class="btn btn-primary" value="Upload"></p>
    }
}
