@(changepasswordForm: Form[ChangePassword])
@import helper._

@main("Thay đổi mật khẩu") {
    <h1>Thay đổi mật khẩu</h1>
    @form(CSRF(routes.ChangePassword.save())) {
        <fieldset>
            <p>Username: <i>@session.get("name")</i></p>
            <p>Email: <i>@session.get("email")</i></p><br>
            <p>
                <input type="password" name="passwordCurrent"
                placeholder="Nhập mật khẩu hiện tại">
            </p><br>
            <p>
                <input type="password" name="newPassword"
                placeholder="Nhập mật mới">
            </p><br>
            <p>
                <input type="password" name="repeatNewPassword"
                placeholder="Xác nhận lại mật khẩu mới">
            </p><br>
        </fieldset>

        <input type="submit" class="btn btn-primary" value="Xác nhận">
        @if(session().get("type").equals("1")) {
            <a class="btn" href="@routes.AdminManager.list_student(0)">Thoát</a>
        } else {
            @if(session().get("type").equals("2")) {
                <a class="btn" href="@routes.AdminManager.list_teacher(0)">Thoát</a>
            }
        }



        }
}