@(editprofile: Form[Student])
@import helper._
@import helper.twitterBootstrap._

@main("Sửa thông tin") {
    <div class="container">
      <hr>
      <div class="row">
          <!-- left column -->
        <div class="col-md-3">
          <div class="text-center">
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
            <h6>Upload a different photo...</h6>

            <input class="form-control" type="file">
          </div>
        </div>

          <!-- edit form column -->
        <h3>@session().get("name")</h3>
        <div class="col-md-9 personal-info">
        @form(CSRF(routes.Registers.changeProfile())) {
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-lg-3 control-label">Mã sinh viên:</label>
              <div class="col-lg-8">
                <input class="form-control" name="stcode" value="@Student.findByEmail(session().get("email")).stcode" type="text" readonly=""><br/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Họ và tên:</label>
              <div class="col-lg-8">
                <input class="form-control" name="name" value="@Student.findByEmail(session().get("email")).name" type="text"><br/>
              </div>
            </div>
              <div class="form-group">
                  <label class="col-md-3 control-label">Địa chỉ: </label>
                  <div class="col-md-8">
                      @if(Student.findByEmail(session().get("email")).address.equals("")) {
                        <input name="address" class="form-control" type="text"><br/>
                      } else {
                          <input name="address" class="form-control" value="@Student.findByEmail(session().get("email")).address" type="text"><br/>
                      }
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label">Số điện thoại: </label>
                  <div class="col-md-8">
                  @if(Student.findByEmail(session().get("email")).numberphone.equals("")) {
                      <input name="numberphone" class="form-control" type="number"><br/>
                  } else {
                      <input name="numberphone" class="form-control" value="@Student.findByEmail(session().get("email")).numberphone" type="number"><br/>
                  }
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-3 control-label">Ngày sinh: </label>
                  <div class="col-md-8">
                  @if(Student.findByEmail(session().get("email")).birthday.equals("")) {
                      <input name="birthday" class="form-control" type="date"><br/>
                  } else {
                      <input name="birthday" class="form-control" value="@Student.findByEmail(session().get("email")).birthday" type="date"><br/>
                  }
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-md-3 control-label">Nơi sinh: </label>
                  <div class="col-md-8">
                  @if(Student.findByEmail(session().get("email")).whereborn.equals("")) {
                      <input name="whereborn" class="form-control" type="text"><br/>
                  } else {
                      <input name="whereborn" class="form-control" value="@Student.findByEmail(session().get("email")).whereborn" type="text"><br/>
                  }
                  </div>
              </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Email:</label>
              <div class="col-lg-8">
                <input class="form-control" name="email" value="@session().get("email")" readonly="" type="text"><br/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Khoa:</label>
              <div class="col-lg-8">
                <div class="ui-select">
                  <select name="specialized" value="@Student.findByEmail(session().get("email")).specialized" class="form-control">
                    <option value="Công nghệ thông tin">Công nghệ thông tin</option>
                    <option value="Vật lý kỹ thuật & Công nghệ nano">Vật lý kỹ thuật & Công nghệ nano</option>
                    <option value="Cơ học kỹ thuật & Tự động hóa">Cơ học kỹ thuật & Tự động hóa</option>
                    <option value="Điện tử Viễn thông">Điện tử Viễn thông</option>
                  </select><br/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Khóa học:</label>
              <div class="col-md-8">
                <input name="course" class="form-control" value="@Student.findByEmail(session().get("email")).course" type="text"><br/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                        <input class="btn btn-primary" value="Thay đổi" type="submit">
                <span></span>
              </div>
            </div>
          </form>
            <a href="@routes.AdminManager.profile()">Thoát</a>
        }
        </div>
      </div>
    <hr>
}