@(forgot_passwordForm: Form[ForgotPassword])
@import helper._

@main("Quên mật khẩu") {
    <p><b>Nhập email để lấy lại mật khẩu</b></p>
    @form(CSRF(routes.ForgotPassword.sendPassword())) {
        <fieldset>
            <input type="email" name="currentEmail" placeholder="Nhập email của bạn">
        </fieldset>
        <br>
        <input type="submit" class="btn btn-primary" value="Gửi">
        <a class="btn" href="@routes.Application.login()">Thoát</a>
    }
}