@(loginForm: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._

@main("Hệ thống đăng nhập") {
    <marquee behavior="scroll" direction="left">Chào mừng các học viên đến với trang quản lý luận văn, mọi thông tin chi tiết sẽ được cập nhật liên tục, chúc bạn một ngày mới tốt lành! </marquee>
  @form(CSRF(routes.Application.authenticate)) {
    <h1>Đăng nhập</h1>
    <p>
      <input type="email" name="email" placeholder="Email"
      value="@loginForm("email").value">
    </p>
    <p>
      <input type="password" name="password"
      placeholder="Password">
    </p>
    <p>
      <button type="submit">Đăng Nhập</button>
    </p>
  }
    <a href="@routes.ForgotPassword.forgotPassword()">Quên mật khẩu</a>
    <br/>
    <p><i>Tài khoản giáo vụ: admin@@uet.vnu.edu.vn | admin </i></p>
}