@()
<nav class="navbar navbar-inverse " id="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="@routes.Application.index()">Trang chủ</a>
    </div>
    <div>
        @if(session.get("email") != null) {
            <ul class="nav navbar-nav">
                @if(session().get("type") != null) {
                    @if(session().get("type").equals("0")) {
                        <li><a href="@routes.AdminManager.listStudentRegister(0)">Quản Lý</a></li>
                    }
                }
                <li><a href="@routes.AdminManager.list_teacher(0)">Danh sách Giáo viên</a></li>
                <li><a href="@routes.AdminManager.list_student(0)">Danh sách Học Viên</a></li>
                <li><a href="@routes.AdminManager.listThesis(0)">Danh sách Luận Văn</a></li>
                <li><a href="@routes.AdminManager.listDocument(0)">Tài liệu tham khảo</a></li>
                <li><a href="@routes.AdminManager.conversation(0)">Tin nhắn</a> </li>
            </ul>
        }
      <ul class="nav navbar-nav navbar-right">
      @if(session.get("email") == null) {
        <li><a href="@routes.Application.login()"><span class="glyphicon glyphicon-log-in"></span>Đăng nhập</a></li>
      } else {
        <li><a href="@routes.AdminManager.profile()">Chào mừng: @session.get("name")</a></li>
        <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-log-out"></span>Thoát</a></li>
      }
      </ul>
    </div>
  </div>
</nav>