
@import java.util.Calendar
@import helper._

@main("Profile") {
    <marquee behavior="scroll" direction="left">Chào mừng các học viên đến với trang quản lý luận văn, mọi thông tin chi tiết sẽ được cập nhật liên tục, chúc bạn một ngày mới tốt lành! </marquee>
    @if(session().get("type").equals("1")) {
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i>@session().get("name")</i></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>Mã sinh viên:</td>
                                                <td>
                                                    @if(session().get("type").equals("1")) {
                                                        <i>@Student.findByEmail(session().get("email")).stcode</i>
                                                    } else {
                                                        @if(session().get("type").equals("2")){
                                                            <i>@Teacher.findByEmail(session().get("email")).teacher_code</i>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Email:</td>
                                                <td><i></i>@session().get("email")</i></td>
                                            </tr>
                                            <tr>
                                                <td>Địa chỉ:</td>
                                                @if(Student.findByEmail(session().get("email")).address.equals("") ) {
                                                    <td><i>null</i></td>
                                                } else {
                                                    <td>@Student.findByEmail(session().get("email")).address</td>
                                                }
                                            </tr>
                                            <tr>
                                                <td>Ngày sinh:</td>
                                                @if(Student.findByEmail(session().get("email")).birthday.equals("") ) {
                                                    <td><i>null</i></td>
                                                } else {
                                                    <td>@Student.findByEmail(session().get("email")).birthday</td>
                                                }
                                            </tr>

                                            <tr>
                                                <td>Số điện thoại:</td>
                                                @if(Student.findByEmail(session().get("email")).numberphone.equals("")) {
                                                    <td><i>null</i></td>
                                                } else {
                                                    <td><i>@Student.findByEmail(session().get("email")).numberphone</i></td>
                                                }

                                            </tr>
                                            <tr>
                                            <tr>
                                                <td>Nơi sinh:</td>
                                                 @if(Student.findByEmail(session().get("email")).whereborn.equals("")) {
                                                     <td><i>null</i></td>
                                                 } else {
                                                     <td><i>@Student.findByEmail(session().get("email")).whereborn</i></td>
                                                 }
                                            </tr>
                                            <tr>
                                                <td>Trường:</td>
                                                <td><i>Đại học Công nghệ - ĐHQGHN</i></td>
                                            </tr>
                                            <tr>
                                                <td>Chức vụ:</td>
                                                <td>
                                                    @if(session().get("type").equals("1")) {
                                                        <i>Học viên</i>
                                                    } else {
                                                        @if(session().get("type").equals("2")){
                                                            <i>Giáo viên</i>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            @if(session().get("type").equals("1")){
                                                <tr>
                                                    <td>Khoa</td>
                                                    <td><i>@Student.findByEmail(session().get("email")).specialized</i></td>
                                                <tr>
                                                    <td>Khóa học:</td>
                                                    <td><i>@Student.findByEmail(session().get("email")).course</i></td>
                                                </tr>
                                                <tr>
                                                    <td>Ngày đăng ký:</td>
                                                    <td><i>@Student.findByEmail(session().get("email")).date.format("dd-MM-yyyy")</i></td>
                                                </tr>
                                                <tr>
                                                    @if(!Student.findByEmail(session().get("email")).thesis_register.equals("none")) {
                                                        <tr>
                                                        <td>Luận văn đã đăng ký:</td>
                                                        <td><i>@Thesis.findByThesisCode(Student.findByEmail(session().get("email")).thesis_register).thread</i></td>
                                                        </tr>
                                                        @if(Student.findByEmail(session().get("email")).thesis_status.equals("wait")){
                                                            <tr>
                                                            <td>Trạng thái:</td>
                                                            <td><b> Đang chờ xét duyệt ( <a href="">Hủy yêu cầu</a> )</b></td>
                                                            </tr>
                                                        }
                                                        @if(Student.findByEmail(session().get("email")).thesis_status.equals("progress")) {
                                                            <tr>
                                                            <td>Trạng thái:</td>
                                                            <td><b><font color="red">Đang thực hiện</font></b></td>
                                                            </tr>
                                                            <tr>
                                                            <td>Giáo viên HD:</td>
                                                            <td>@Thesis.findByThesisCode(Student.findByEmail(session().get("email")).thesis_register).teacher</td>
                                                            </tr>
                                                            <tr>
                                                            <td>Thời gian bắt đầu:</td>
                                                            <td>@Thesises.convertDate(Student.findByEmail(session().get("email")).time_start)</td>
                                                            </tr>
                                                            <tr>
                                                            <td>Số ngày thực hiện:</td>
                                                            <td>@String.valueOf((Calendar.getInstance().getTimeInMillis - Student.findByEmail(session().get("email")).time_start)/(24*60*60*1000) + 1)</td>
                                                            @form(CSRF(routes.Thesises.student_done())) {
                                                                <input type="submit" class="btn btn-primary" value="Hoàn Thành">
                                                            }
                                                            </tr>
                                                            </br>
                                                        }
                                                        @if(Student.findByEmail(session().get("email")).thesis_status.equals("done")) {
                                                            <tr>
                                                            <td>Trạng thái:</td>
                                                            <td><b><font color="blue">Hoàn thành</font></b></td>
                                                            </tr>
                                                            <tr>
                                                            <td>Giáo viên HD:</td>
                                                            <td>@Thesis.findByThesisCode(Student.findByEmail(session().get("email")).thesis_register).teacher</td>
                                                            </tr>
                                                            <tr>
                                                            <td>Thời gian bắt đầu:</td>
                                                            <td>@Thesises.convertDate(Student.findByEmail(session().get("email")).time_start)</td>
                                                            </tr>
                                                            <tr>
                                                            <td>Thời gian kết thúc:</td>
                                                            <td>@Thesises.convertDate(Student.findByEmail(session().get("email")).time_end)</td>
                                                            </tr>
                                                            <tr>
                                                            <td>Số ngày thực hiện:</td>
                                                            <td>@String.valueOf((Calendar.getInstance().getTimeInMillis - Student.findByEmail(session().get("email")).time_start)/(24*60*60*1000) + 1)</td>
                                                            </tr>
                                                        }
                                                    } else {
                                                        <td>Luận văn đăng ký:</td>
                                                        <td>Chưa có</td>
                                                        </br>
                                                    }
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                    <a href="@routes.ChangePassword.changePassword()" class="btn btn-primary">Đổi mật khẩu</a>
                                    @if(session().get("type").equals("0")) {
                                        <a href="@routes.ChangePassword.changePassword()" class="btn btn-primary">Đổi mật khẩu</a><p></p>
                                    }
                                    @if(session().get("type").equals("2")) {
                                        <a href="@routes.ChangePassword.changePassword()" class="btn btn-primary">Đổi mật khẩu</a><p></p>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                            <span class="pull-right">
                                <a href="@routes.Registers.edit(session().get("email"))" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <style>
        .user-row {
        margin-bottom: 14px;
        }

        .user-row:last-child {
        margin-bottom: 0;
        }

        .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
        }

        .dropdown-user:hover {
        cursor: pointer;
        }

        .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
        }

        .table-user-information > tbody > tr:first-child {
        border-top: 0;
        }


        .table-user-information > tbody > tr > td {
        border-top: 0;
        }
        .toppad
        {margin-top:20px;
        }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {
            var panels = $('.user-infos');
            var panelsButton = $('.dropdown-user');
            panels.hide();

            //Click dropdown
            panelsButton.click(function() {
            //get data-for attribute
            var dataFor = $(this).attr('data-for');
            var idFor = $(dataFor);

            //current button
            var currentButton = $(this);
            idFor.slideToggle(400, function() {
            //Completed slidetoggle
            if(idFor.is(':visible'))
            {
            currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
            }
            else
            {
            currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
            }
            })
            });


            $('[data-toggle="tooltip"]').tooltip();

            $('button').click(function(e) {
            e.preventDefault();
            alert("This is a demo.\n :-)");
            });
            });
        </script>
    }

}