@(student: Student)
@import java.util.Calendar
@import helper._

@main("Profile") {
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i> @student.name</i></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>Mã sinh viên:</td>
                                                <td>
                                                    <i>@student.stcode</i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Email:</td>
                                                <td><i></i>@student.email)</i></td>
                                            </tr>
                                            <tr>
                                                <td>Địa chỉ:</td>
                                                @if(student.address.equals("") ) {
                                                    <td><i>null</i></td>
                                                } else {
                                                    <td>@student.address</td>
                                                }
                                            </tr>
                                            <tr>
                                                <td>Ngày sinh:</td>
                                                @if(student.birthday.equals("") ) {
                                                    <td><i>null</i></td>
                                                } else {
                                                    <td>@student.birthday</td>
                                                }
                                            </tr>

                                            <tr>
                                                <td>Số điện thoại:</td>
                                                @if(student.numberphone.equals("")) {
                                                    <td><i>null</i></td>
                                                } else {
                                                    <td><i>@student.numberphone</i></td>
                                                }

                                            </tr>
                                            <tr>
                                            <tr>
                                                <td>Nơi sinh:</td>
                                                @if(student.whereborn.equals("")) {
                                                    <td><i>null</i></td>
                                                } else {
                                                    <td><i>@student.whereborn</i></td>
                                                }
                                            </tr>
                                            <tr>
                                                <td>Trường:</td>
                                                <td><i>Đại học Công nghệ - ĐHQGHN</i></td>
                                            </tr>
                                            <tr>
                                                <td>Chức vụ:</td>
                                                <td>
                                                    <i>Học viên</i>
                                                </td>
                                            </tr>
                                                <tr>
                                                    <td>Khoa</td>
                                                    <td><i>@student.specialized</i></td>
                                                <tr>
                                                    <td>Khóa học:</td>
                                                    <td><i>@student.course</i></td>
                                                </tr>
                                                <tr>
                                                    <td>Ngày đăng ký:</td>
                                                    <td><i>@student.date.format("dd-MM-yyyy")</i></td>
                                                </tr>
                                                <tr>
                                                @if(!student.thesis_register.equals("none")) {
                                                <tr>
                                                    <td>Luận văn đã đăng ký:</td>
                                                    <td><i>@Thesis.findByThesisCode(student.thesis_register).thread</i></td>
                                                </tr>
                                                @if(student.thesis_status.equals("wait")){
                                                    <tr>
                                                        <td>Trạng thái:</td>
                                                        <td><b> Đang chờ xét duyệt ( <a href="">Hủy yêu cầu</a> )</b></td>
                                                    </tr>
                                                }
                                                @if(student.thesis_status.equals("progress")) {
                                                    <tr>
                                                        <td>Trạng thái:</td>
                                                        <td><b><font color="red">Đang thực hiện</font></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Giáo viên HD:</td>
                                                        <td>@Thesis.findByThesisCode(student.thesis_register).teacher</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thời gian bắt đầu:</td>
                                                        <td>@Thesises.convertDate(student.time_start)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Số ngày thực hiện:</td>
                                                        <td>@String.valueOf((Calendar.getInstance().getTimeInMillis - student.time_start)/(24*60*60*1000) + 1)</td>
                                                    </tr>
                                                    </br>
                                                }
                                                @if(student.thesis_status.equals("done")) {
                                                    <tr>
                                                        <td>Trạng thái:</td>
                                                        <td><b><font color="blue">Hoàn thành</font></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Giáo viên HD:</td>
                                                        <td>@Thesis.findByThesisCode(student.thesis_register).teacher</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thời gian bắt đầu:</td>
                                                        <td>@Thesises.convertDate(student.time_start)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thời gian kết thúc:</td>
                                                        <td>@Thesises.convertDate(student.time_end)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Số ngày thực hiện:</td>
                                                        <td>@String.valueOf((Calendar.getInstance().getTimeInMillis - student.time_start)/(24*60*60*1000) + 1)</td>
                                                    </tr>
                                                }
                                            } else {
                                                    <td>Luận văn đăng ký:</td>
                                                    <td>Chưa có</td>
                                                    </br>
                                                }
                                                </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                            <span class="pull-right">
                                <a href="" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <style>
        .user-row {
        margin-bottom: 14px;
        }

        .user-row:last-child {
        margin-bottom: 0;
        }

        .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
        }

        .dropdown-user:hover {
        cursor: pointer;
        }

        .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
        }

        .table-user-information > tbody > tr:first-child {
        border-top: 0;
        }


        .table-user-information > tbody > tr > td {
        border-top: 0;
        }
        .toppad
        {margin-top:20px;
        }
        </style>
        <script type="text/javascript">
        $(document).ready(function() {
        var panels = $('.user-infos');
        var panelsButton = $('.dropdown-user');
        panels.hide();

        //Click dropdown
        panelsButton.click(function() {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function() {
        //Completed slidetoggle
        if(idFor.is(':visible'))
        {
        currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
        }
        else
        {
        currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
        }
        })
        });


        $('[data-toggle="tooltip"]').tooltip();

        $('button').click(function(e) {
        e.preventDefault();
        alert("This is a demo.\n :-)");
        });
        });
        </script>

}